@page "/productos/{id:int}/editar"

<h3>EditProducto</h3>

@if(Producto.Id == null)
{
    <p>No existe el producto</p>
}
else
{
    <ProductosForm Producto="Producto" />
}

@code {
    private ProductosDataAccess dataAccess;
    [Parameter]
    public int Id { get; set; }

    private Producto? Producto;

    protected override void OnInitialized()
    {
        dataAccess = new ProductosDataAccess("Data Source=10.0.2.2;Initial Catalog=Coderhouse;User ID=sa;Password=Str0ngPassword;TrustServerCertificate=True");
        Producto = dataAccess.GetOneProducto(Id);
    }
}
