@inherits LayoutComponentBase

<header>
	<h1>Clase 7: Blazor Hybrid</h1>
    <NavMenu />
</header>
<main>
	@Body
</main>
<footer>
	<i class="muted">Created by <a href="mailto:fabriziopauselli@gmail.com">Fabrizio Pauselli</a></i>
</footer>