@inherits LayoutComponentBase

<header>
    <h1>Clase 8</h1>
    <nav>
        <menu>
            <li>
                <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>
                <NavLink href="Clientes">Clientes</NavLink>
            </li>
            <li>
                <NavLink href="Matrices">Matrices</NavLink>
            </li>
            <li>
                <NavLink href="Productos">Productos</NavLink>
            </li>
        </menu>
    </nav>
</header>
<main>@Body</main>

<footer>
    <p>Creado para Coderhouse</p>
</footer>
